@{
    ViewData["Title"] = "Pending Approval";
}

<div class="container mt-5">

    <div class="alert alert-warning shadow-sm">

        <h3 class="fw-bold">
            Account Pending Approval
        </h3>

        <p class="mb-0">
            Your teacher account is waiting for admin approval.
        </p>

    </div>

</div>