@model SchoolApp.ViewModels.Users.ResetUserPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<h2 class="fw-bold mb-3">Reset Password</h2>

<form asp-action="ResetPassword" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="UserId" />

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label>New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Reset Password
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Back
    </a>
</form>